@font-face {
  font-family:'UrbRapper';
  src: url(../fonts/UrbRapper.ttf) format('truetype');
}
@font-face{
	font-family:'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}
@font-face{
	font-family:'UrbanJungle';
	src: url('../fonts/UrbanJungle.otf') format('opentype');
}
@font-face{
	font-family:'Helvetica';
	src: url('../fonts/Helvetica.ttf') format('truetype');
}
@font-face{
	font-family:'Helvetica-Bold';
	src: url('../fonts/Helvetica-Bold.ttf') format('truetype');
}

body{
	margin: 0px;
	padding: 0px;
}