@font-face {
  font-family:'UrbRapper';
  src: url(UrbRapper.ttf) format('truetype');
}
@font-face{
	font-family:'Roboto-Black';
	src: url('Roboto-Black.ttf') format('truetype');
}
@font-face{
	font-family:'UrbanJungle';
	src: url('UrbanJungle.otf') format('opentype');
}
@font-face{
	font-family:'Helvetica';
	src: url('Helvetica.ttf') format('truetype');
}
@font-face{
	font-family:'Helvetica-Bold';
	src: url('Helvetica-Bold.ttf') format('truetype');
}

body{
	margin: 0px;
	padding: 0px;
}
svg{
	margin: 0px;
	padding: 0px;
}

.theSVG{
	margin: 0px;
	padding: 0px;
}

.menuButton{
	position:absolute;
  -webkit-animation-play-state: paused;
  animation-fill-mode: forwards;
}

#eastCoast{
	clip-path: url(#clippingRight);
}

#westSide{
	clip-path: url(#clippingLeft);
}

#trap{
	clip-path: url(#clippingUp);

}

#dj{
	clip-path: url(#clippingDown);
}
#middle{
  position: absolute; /* or absolute */
}

#title,#description{
	position:absolute;
	
  /*border: 3px solid green;*/
}
#title{
	color: #9a1111;
	top:10%;
	left:20%;
	font-family:'UrbanJungle';
	margin:0;
	font-size: 150px;
}
#description{
	color: #FFFFFF;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #9a1111;
	bottom:10%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	font-family: 'Helvetica-Bold';
	font-size: 35px;
}

/*
#eastCoast:hover{
	clip-path: none;
	#dj.visibility: hidden;
}

#westSide:hover{
	clip-path: none;
	#dj.visibility: hidden;
}


#dj:hover{
	clip-path:none;
	#dj.visibility: hidden;
}

#trap:hover{
	clip-path: none;	
}
*/

@keyframes transition{

  0%{
  	clip-path: circle(50px);
  }
  0.00001%{
  	clip-path: circle(100%);
  }
  100%{
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);*/
    clip-path: circle(100%);
  }

}