body{
	margin: 0px;
	padding: 0px;
}
svg{
	margin: 0px;
	padding: 0px;
}

.theSVG{
	margin: 0px;
	padding: 0px;
}

.menuButton{
	position:absolute;
  -webkit-animation-play-state: paused;
  animation-fill-mode: forwards;
}

#eastCoast{
	clip-path: url(#clippingRight);
}

#westSide{
	clip-path: url(#clippingLeft);
}

#trap{
	clip-path: url(#clippingUp);

}

#dj{
	clip-path: url(#clippingDown);
}
#middle{
  position: absolute; /* or absolute */
}

/*
#eastCoast:hover{
	clip-path: none;
	#dj.visibility: hidden;
}

#westSide:hover{
	clip-path: none;
	#dj.visibility: hidden;
}


#dj:hover{
	clip-path:none;
	#dj.visibility: hidden;
}

#trap:hover{
	clip-path: none;	
}
*/

@keyframes transition{

  0%{
  	clip-path: circle(50px);
  }
  0.00001%{
  	clip-path: circle(100%);
  }
  100%{
    /*clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);*/
    clip-path: circle(100%);
  }

}